<template lang="pug">
.screen
</template>

<style lang="sass" src="./styles/app.sass"></style>
<script>
// import base from './mods/base';

export default {
  name: 'App',
  components: {},
  data: function () {
    return {};
  },
  computed: {},
  watch: {},
  created: function () {},
  mounted: function () {},
  methods: {},
};
</script>
